.navbar {
  background-color: #fff;
  overflow: hidden;
  text-justify: auto;
}

.navbar-nav {
  float: left;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color: #333;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0%;
  float: left;
  margin-left: 26px;
}

.nav-link:hover:not(.active) {
  transform: scale(1.06);
  color: rgb(230, 69, 69);
}

.active {
  transform: scale(1.06);
  color: rgb(230, 69, 69);
}
.nav-gnb {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  line-height: 87px;
  padding-right: 18%;
}

li {
  list-style-type: none;
}

.logo-container {
  padding-left: 320px;
}
/*******HEADER*************/

.header-container {
  height: 590px;
  width: 100%;
  background-size: auto 590px;
  background-position: center;
  position: relative;
}

/* body {
  padding: 0%;
  margin: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

/******GALLERY*******/
.gallery-container {
  width: 1050px;
  height: 1300px;
  margin: 18.5%;
  padding-right: 10%;
  align-items: center;
  margin-top: 27%;
  padding-top: 0px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 45px;
}

.gallery-text {
  padding-left: 170px;
  text-align: center;
  font-size: 45px;
  letter-spacing: 7px;
  color: #333;
  font-weight: 200;
  line-height: 1.2em;
  margin-bottom: 45px;
  font-family: "Oswald", "Nanum Square", sans-serif;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.gallery-container2 {
  padding-left: 180px;
}

.gallery-container > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.svt-pics {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  margin: 0%;
  padding: 0%;
}

.svtpics {
  display: flex;
  gap: 1rem;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

.svtpics:hover {
  transform: scale(1.1);
  width: 300px;
  height: 300px;
}
.svt-pics img {
  width: 18rem;
  aspect-ratio: 1;
  align-self: start;
}

.svt-pics div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0rem 0;
}

.svt-pics h3 {
  font-size: 2rem;
  font-weight: 400;
}

.svt-pics p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.svt-pics span {
  display: block;
  font-size: 1.6rem;
}

/**sns*****/
.fan-club {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fan-club-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-media-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s;
}

.social-media-link:hover {
  color: #007bff;
}

.social-media-link i {
  font-size: 20px;
  margin-right: 5px;
}

/* ***FOOTER***  */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
}

#footer {
  padding: 25px 0 20px;
  text-align: center;
  color: #6a6a6a;
  font-size: 13px;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
  margin-top: auto;
}

.footer-img-container {
  padding-top: 2000px;
  width: 1190px;
  background: #282828;
  height: 100px;
}

.footer-img {
  width: 90px;
  height: 90px;
}

.page-image {
  width: 90px;
  height: 90px;
}
